@{
   ViewData["Title"] = "Get Random Numbers";
}

<h2>@ViewData["Title"]</h2>

<button id="btnGetRandom">Get Random Numbers</button>
<div id="outputArea"></div>

@section Scripts{
   <script defer src="~/js/homeIndex.js"></script>
}
